<script type="text/javascript">
    var askbot = askbot || {};
    askbot['data'] = askbot['data'] || {};
    askbot['urls'] = askbot['urls'] || {};

    askbot['data']['categories'] = {% if cats_tree %}[{{ cats_tree }}]{% else %}null{% endif %};
    askbot['urls']['add_category'] = '{% url add_category %}';
    askbot['urls']['rename_category'] = '{% url rename_category %}';
    askbot['urls']['delete_category'] = '{% url delete_category %}';
    askbot['urls']['get_tag_categories'] = '{% url get_tag_categories %}';
    askbot['urls']['add_tag_to_category'] = '{% url add_tag_to_category %}';
    askbot['urls']['remove_tag_from_category'] =  '{% url remove_tag_from_category %}';
    askbot['urls']['get_tag_data_summary'] = '{% url get_tag_data_summary %}';
    askbot['urls']['get_tag_followers'] = '{% url get_tag_followers %}';
</script>
<script type="text/javascript" src="/classify_tags_media/jquery.ui.core.js"></script>
<script type="text/javascript" src="/classify_tags_media/jquery.ui.position.js"></script>
<script type="text/javascript" src="/classify_tags_media/main.js"></script>
<script type="text/javascript">
    init_category_menu({% if request.user.is_staff %}true{% else %}false{% endif %});
    init_tag_menu();
</script>
