#ab-drop-down { position: absolute; }
.ab-menu, .tag-menu { 
    background: #fff;
    border: 1px solid #aaa;
    padding: 0 0 0 5px;
}
.tag-menu {
    padding-bottom: 5px;
    padding-top: 3px;
}
.ab-menu input { width: auto; margin: 0;}
.ab-menu a.edit { padding: 3px; }
.tag-menu input, .tag-menu p { margin: 0; padding: 0}
ul.ab-menu {
    list-style: none inside none;
}
li.menu-item, .tag-category { white-space: nowrap; padding: 0 5px 0 0; }
.tag-categorizer span.delete-icon { display: inline; float: none; vertical-align: middle; }

.adder-icon, .go-right-icon, .delete-icon {
    padding-left: 13px;
}
.go-right-icon {
    vertical-align: middle;
    background: url(go-right.png) no-repeat;
}
span.adder-icon {
    background: url(list-add-14-gray.png) no-repeat;
}
span.adder-icon:hover {
    background: url(list-add-14-blue.png) no-repeat;
}

span.delete-icon {
    vertical-align: bottom;
    background: url(close-small-dark.png) no-repeat;
}
span.delete-icon:hover {
    background: url(close-small-hover.png) no-repeat;
}

.acInput {
    width: 200px;
}
.acResults {
    padding: 0px;
    border: 1px solid WindowFrame;
    background-color: Window;
    overflow: hidden;
}

.acResults ul {
    width: 100%;
    list-style-position: outside;
    list-style: none;
    padding: 0;
    margin: 0;
}

.acResults li {
    margin: 0px;
    padding: 2px 5px;
    cursor: pointer;
    display: block;
    width: 100%;
    font: menu;
    font-size: 12px;
    overflow: hidden;
}

.acLoading {
    background : url('indicator.gif') right center no-repeat;
}

.acSelect {
    background-color: Highlight;
    color: HighlightText;
}
